# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*build/
*develop-eggs/
*dist/
*downloads/
*eggs/
*.egg-info/
*lib/
*lib64/
*parts/
*sdist/
*var/
*wheels/
*share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo